.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
}

.error {
  font-size: 0.8rem;
  color: #bb0000;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
}

.loginFormItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.loginFormItem label {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.loginFormItem input {
  height: 2rem;
  width: 300px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
